{% extends "AppProyecto/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5"> Acerca de mi </h2> Mi nombre es Damian Ezequiel Defederico, naci en Argentina. Tengo 28 años, mi familia esta compuesta por una hermana, Ailen  y mis padres, Norberto y Gisela. Vivo solo desde los 19,y a los 21 me compre mi primer departamento con un credito hipotecario del banco donde trabajaba, el Santander
</h2>
</h3> Despues de eso, a los 24 puse un Bar y cerveceria en Microcentro con 2 amigos, el cual me demandaba muchisimo tiempo asi que cerca de  los 2 años lo cerramos, justo antes de la pandemia ! Zafamos! 
</h3>
</h4> Hoy en dia, trabajo en otro banco, tengo un auto laburando con un chofer para la aplicacion Cabify, alquilo mi departamento a una inquilina que tambien es amiga, y tengo una empresa de rigs de criptomonedas. En este momento con el merge de Ethereum se pincho un poco todo con respecto a este rubro. 
Pero ahora estoy full dedicado a aprender todo lo que es backend, me gustaria armar apliaciones tambien para celular  y programas para hacer trading de criptomonedas. 
Asi que me encuentro comenzando en este mundo divino de la programacion.  Es constancia la clave, yo tuve muchos errores que eran por mi instalacion los cuales me costo horrores arreglarlos, horas y horas de youtube, por suerte todo eso me hizo aprender mas rapido, y hoy puedo lograr detectar errores rapidamente. </h4>
</h1>
{% endblock %}

{% block contenido %}


{% endblock %}

